__pycache__/main.cpython-312.pyc
__pycache__/simulator_service.cpython-312.pyc
database/__pycache__/__init__.cpython-312.pyc
database/__pycache__/models.cpython-312.pyc
database/__pycache__/mongodb_client.cpython-312.pyc
database/__pycache__/postgres_client.cpython-312.pyc
.venv/
